 body{
   font-family: 'Palanquin', sans-serif;
 }
.textlist{
  padding-top: 9%;
  padding-bottom: 5%;
  margin-left: 3vw;
  margin-right: 3vw;
}
.logo{
  height: 40px;
  width: 40px;
  background-color: white;
}
.hero{
  height: 100vh;
  width: 100%;
  color: black;
  background-image: url("../images/lg/lg-gorilla03.jpg");
  text-align: center;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero2{
  height: 100vh;
  width: 100%;
  color: black;
  background-image: url("../images/lg/proboscis-monkey.jpg"); 
  text-align: center;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero3{
  height: 100vh;
  width: 100%;
  color: black;
  background-image: url("../images/lg/lg-gorilla13.jpg");
  text-align: center;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contain{
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  position: absolute;
}
.para{
  color: white;
  font-size: 50px;
  font-family: 'Playfair Display', serif;
  margin-top: 40px;
}
.para-title {
  font-size: 180px;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-shadow: 2px 2px 2px black;
}
.ft {
  font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 80px;
}
.ftt{
  font-family: 'Plalyfair Display', serif;
  text-align: center;
  margin-top: 50px;
  font-size: 22px;
  line-height: 1.8;
}
.pg{
  column-count: 3;
  column-width: 320px;
  column-rule-style: solid;
  column-gap: 5vw;
}
.container{
  height: 100vh;
  width: 100%;
  color: black;
  background-image: url("../images/lg/lg-gorilla01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.textcontainer{
  width: 400px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.8);
  grid-column: 3;
  grid-row: 2;
  line-height: 1.5;
}
.textcontainer:hover{
  transform:scale(1.25);
  transition: all .5s;
}
h3{
  font-family: 'Fjalla One', sans-serif;
  text-align: left;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 30px;
}
.paracontainer{
  text-align: left;
  margin-left: 30px;
  margin-right: 20px;
  line-height: 2;
}
.block{
  height: 300px;
  width: 500px;
  background-color: #ffc831;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
}
.block1 {
  height: 300px;
  width: 300px;
  background-image:url("../images/th/th-gorilla03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  padding: 5px;
  box-shadow: 12px 12px 2px 1px rgba(223, 175, 44, .4);
}
.block1:hover {
  background-image:url("../images/th/th-gorilla04.jpg");
  border-radius: 50%;
  text-align: center;
  transition: all .5s;
  cursor: pointer;
}
.block2 {
  height: 300px;
  width: 300px;
  background-image:url("../images/th/th-gorilla05.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  padding: 5px;
  box-shadow: 12px 12px 2px 1px rgba(223, 175, 44, .4);
}
.block2:hover {
  background-image:url("../images/th/th-gorilla10.jpg");
  border-radius: 50%;
  text-align: center;
  transition: all .5s;
  cursor: pointer;
}
.block3 {
  height: 300px;
  width: 300px;
  background-image:url("../images/th/th-gorilla06.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  padding: 5px;
  box-shadow: 12px 12px 2px 1px rgba(223, 175, 44, .4);
}
.block3:hover {
  background-image:url("../images/th/th-gorilla04.jpg");
  border-radius: 50%;
  text-align: center;
  transition: all .5s;
  cursor: pointer;
}
footer {
 background-image: url("../images/lg/gorillapattern.jpg");
 width: 100%;
 height: 700px;
 display: flex;
}
.container-footer {
  width: 1500px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: repeat(10, 10fr);
  grid-auto-rows: minmax(50px, auto);
  margin: auto;
}
.para-1 {
  grid-column: 3;
  grid-row: 6;
  color: #ffffff;
}
p.para-nav1 {
  grid-column: 3;
  grid-row: 5;
  color: #ffffff;
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
}
p.identity {
  grid-column: 3;
  grid-row: 7;
  color: #ffffff;
}
p.identity2 {
  grid-column: 3;
  grid-row: 8;
  color: #ffffff;
}
p.para-2 {
    grid-column: 5/7;
    grid-row: 6;
    color: #ffffff;
}
p.para-3 {
    grid-column: 5/9;
    grid-row: 7;
    color: #ffffff;
}
p.para-4 {
    grid-column: 5/12;
    grid-row: 8;
    color: #ffffff;
}
p.para-nav{
  grid-column: 5;
  grid-row: 5;
  color: #ffffff;
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
}
p.para-nav2{
  grid-column: 7;
  grid-row: 5;
  color: #ffffff;
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
}
a.icon-linkedin {
    grid-column: 7/12;
    grid-row: 6;
}
a.icon-linkedin:hover {
  transform: scale(0.97);
}
a.icon-behance {
    grid-column: 7/12;
    grid-row: 7;
}
.linkedin{
  grid-column: 7;
  grid-row: 6;
  height: 40px;
  width: 40px;
}
.behance{
  grid-column: 7;
  grid-row: 7;
  height: 30px;
  width: 50px;
}
.para-footer {
  color : white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
  margin-left: 40px;
  margin-top: 40px;
}
.profile-pic {
  width: 200px;
  height: 300px;
  margin-top: 60px;
  margin-left: 40px;
  grid-column: 1;
  grid-row: 2/11;
}
.profile-pic:hover{
  border-radius: 20%;
  transition: all .5s;
}
a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
a:visited {
  color: #ffffff;
  cursor: pointer;
}
a.button-footer:hover {
  text-decoration: none;
  color: #ffffff;
  background: #ffc831;
  border-radius: 5px;
  padding: 10px;
}
.listblock{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 80px;
  padding-bottom: 80px;
}
.logo_img{
  margin: 5px;
  height: 50px;
  width: 50px;
  background-color: white;
  float: left;
}
.text{
  color: white;
}
.rediList{
  color: black;
  text-align: right;
  margin-right: 30px;
}
.lien-right {
  float: right;
  margin-top: 50px;
}
.size-img {
    width: 50%;
    object-fit: cover;
    height: 385px;
}
img {
  float: left;
  clear: both;
}
.middle-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2em;
}
.middle-title {
    text-align: center;
    font-size: 35px;
    padding-bottom: 2em;
    padding-top: 2em;
    font-family: 'Fjalla One', serif;
}
.middle-lien {
    margin-top: 50px;
    color: #000000;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    display: flex;
}
.grand-monkey {
    width: 100%;
    object-fit: cover;
    max-height: 200px;
    margin-top: 20px;
}
.menu-toggle .burger-breads span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #8D7268;
	z-index: 1;
}
.menu-close .burger-breads span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	border-radius: 3px;
	z-index: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: rgb(141, 111, 104);
}
.menu-close .burger-breads span:nth-child(2) {
	transform: rotate(135deg) translate(-7px, 9px);
}
.menu-close .burger-breads span:nth-child(3) {
	opacity: 0;
}
.pulse-button:hover {
  animation: none;
  }
.pulse-button {
    position: relative;
    margin-left: -50px;
    margin-top: 50px;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 50%;
    background: #ffc831;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
    -webkit-animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
  }
    100% {
    transform:scale(.9);
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}
/*Styling Button*/
.menu-toggle {
  display: inline-block;
  padding: 1em;
  position: absolute;
}
#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
#menuToggle a:hover
{
  color: tomato;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#moove{
  margin-top: 15px;
  margin-left: 15px;
  position: absolute;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  width: 300px;
  height: 850px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  position: absolute;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
/* Default styles + Mobile first - Offscreen menu style */
.main-menu {
  position: absolute;
  /* This place will be used to hide the menu */
  top: 0;
  bottom: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3 ease, box-shadow 0.3s ease;
  z-index: 999;
}
.main-menu ul {
  margin: 0;
  padding: 2.5em 0 0;
  min-height: 100%;
  width: 200px;
  background: #B0A198;
}
.main-menu a{
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #D3CBC0;
  text-decoration: none;
  border-bottom: 1px solid rgb(202, 192, 184);
}
.main-menu li:first-child a {
  border-top: 1px solid rgb(202, 192, 184);
}
.main-menu a:hover, .main-menu a:focus {
  background: #D3CBC0;
  text-decoration: underline;
  color: #8D7268;
}
.main-menu .menu-close {
  position: absolute;
  right: 0;
  top:0;
  border-bottom: 1px solid transparent;
}
.main-menu {
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.main-menu:target{
  transform: translateX(0);
  outline: none;
}
.main-menu:target .menu-close {
  z-index: 1001;
}
.main-menu:target ul {
  position: relative;
  z-index: 1000;
}
.main-menu:target + .backdrop{
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #fff;
  background: rgba(228, 223, 215, .85);
  cursor: default;
}
@supports (position:fixed) {
  .main-menu,
  .main-meu:target + .backdrop{
    position: fixed;
  }
}
/* Larger screen styling Horizontal menu */
@media (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  .burger-breads {
    display: none;
}
  .main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    display: block;
    transform: translateX(0);
  }
  .main-menu ul {
    display: flex;
    padding: 0;
    height: auto;
    width: auto;
    background: none;
  }
  .main-menu a {
    color: rgb(26,20,72);
    border : 0  !important;
  }
  .main-menu a:hover,
  .main-menu a:focus {
    background: none;
    color: #c00;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  body {
    background-color: #fdcf41;
  }
.para-title{
    font-size: 60px;
  }
  .para {
    font-size: 24px;
  }
  .burger-breads {
    display: none;
}
  .pg {
    margin: 25px;
  }
  .container {
    grid-auto-rows: minmax(10px, auto);
  }
  .textcontainer {
    width: 350px;
    height: 400px;
    grid-column: 2;
}
h3.titlecontainer {
  margin-top: 50px;
}
.container-footer {
  display: flex;
  flex-direction: column;
  height: 700px;
}
.para-footer {
  margin-right: auto;
  margin-left: auto;
}
img.profile-pic {
  margin-right: auto;
  margin-left: auto;
}
p.para-1 {
  text-align: center;
  margin-top: 20px;
}
p.para-2 {
  text-align: center;
  margin-top: 20px;
}
p.para-3 {
  text-align: center;
  margin-top: 20px;
}
p.para-4 {
  text-align: center;
  margin-top: 20px;
}
.size-img {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: #1ABC90;
  }
  .para-title{
    font-size: 60px;
  }
  .para {
    font-size: 24px;
  }
  .burger-breads {
    display: none;
}
}
@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    background-color: #ffc831;
  }
  h1{
    font-size: 40px;
  }
  .para-title{
    font-size: 60px;
  }
  .para {
    font-size: 24px;
  }
}
@media (min-width: 1281px) {
  body {
    background-color: #ffffff;
  }
  h1{
    font-size: 40px;
  }
}
